
* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-size: 4rem;
  color: white;
  background-color: darkred;
}
