:root {
  --hue-sat: 152deg 67%;
}

* {
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

a {
  color: #007fff;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: 'IBM Plex Sans', sans-serif;
  text-transform: uppercase;
  line-height: 1em;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-flow: column;
  font-size: 11pt;
}

header {
  display: flex;
  justify-content: center;
  padding: 0.6em;
  font-size: 3em;
  color: white;
  background-color: hsl(var(--hue-sat) 47%);
  box-shadow: 0 -0.5em 0.5em 0.5em rgb(0 0 0 / 30%);
  z-index: 4;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

main {
  display: flex;
  height: 100%;
}

.column {
  display: flex;
  flex-flow: column;
}

/* side */

#side {
  width: 16em;
}

#side > .section {
  padding: 1em;
  box-shadow: 0 0 1em 0 rgb(0 0 0 / 10%);
}

.section {
  display: flex;
  flex-flow: column;
  gap: 0.5em;
}

#contact {
  background-color: hsl(var(--hue-sat) 80%);
  z-index: 3;
}

#education {
  background-color: hsl(var(--hue-sat) 87%);
  z-index: 2;
}

#skills {
  flex-grow: 1;
  background-color: hsl(var(--hue-sat) 93%);
  z-index: 1;
}

.indent {
  margin-left: 0.5em;
}

/* main */

#main {
  flex: 1;
  padding: 1em;
  gap: 1em;
  text-align: justify;
}

#main > .section > .section {
  gap: 1em;
}
