
* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
}

a {
  color: #007fff;
  text-decoration: none;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-flow: column;
  font-size: 11pt;
}

header {
  display: flex;
  justify-content: center;
  padding: 1em;
  font-size: 3em;
  color: white;
  background-color: #27c97e;
}

main {
  display: flex;
  height: 100%;
}

.column {
  display: flex;
  flex-flow: column;
  padding: 1em;
  gap: 1em;
}

/* side */

#side {
  width: 15em;
  background-color: #e1f9ee;
}

.section {
  display: flex;
  flex-flow: column;
  gap: 0.5em;
}

/* main */

#main {
  flex: 1;
}
